body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.titulo{
    text-align:center ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.menu{
    padding: 40px;
    background-color: #F47920;
    display: inline-block;
    position: relative;
    
}
.tabla{
    width: 60%;
    margin: 40px;
    text-align: justify;
}